.formulario{
    p{
        font-size: 2rem;
        color: $grisOscuro;
        margin: 2rem 0 0 0;

    }

    legend{
        font-size: 2rem;
        color: $grisOscuro;
    }

    label{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    input:not([type="submit"]),
    textarea,
    select{
        padding: 1rem;
        border-radius: 1rem;
        display: block;
        width: 100%;
        background-color: $blanco;
        margin-bottom: 2rem;
        border: 1px $gris solid;
        outline: 0;
    }

    .forma-contacto{
        max-width: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    input[type="radio"]{
        margin: 0;
        width: auto;
    }
    textarea{
        height: 20rem;
    }
    @include tablet{
        select{
            max-width: 50%;
        }
    }
}